@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;

		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;

		--primary: 24 9.8% 10%;
		--primary-foreground: 60 9.1% 97.8%;

		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;

		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 60 9.1% 97.8%;

		--ring: 20 14.3% 4.1%;

		--radius: 0.6rem;
	}

	/*.dark {*/
	/*	--background: 20 14.3% 4.1%;*/
	/*	--foreground: 60 9.1% 97.8%;*/

	/*	--muted: 12 6.5% 15.1%;*/
	/*	--muted-foreground: 24 5.4% 63.9%;*/

	/*	--popover: 20 14.3% 4.1%;*/
	/*	--popover-foreground: 60 9.1% 97.8%;*/

	/*	--card: 20 14.3% 4.1%;*/
	/*	--card-foreground: 60 9.1% 97.8%;*/

	/*	--border: 12 6.5% 15.1%;*/
	/*	--input: 12 6.5% 15.1%;*/

	/*	--primary: 60 9.1% 97.8%;*/
	/*	--primary-foreground: 24 9.8% 10%;*/

	/*	--secondary: 12 6.5% 15.1%;*/
	/*	--secondary-foreground: 60 9.1% 97.8%;*/

	/*	--accent: 12 6.5% 15.1%;*/
	/*	--accent-foreground: 60 9.1% 97.8%;*/

	/*	--destructive: 0 62.8% 30.6%;*/
	/*	--destructive-foreground: 60 9.1% 97.8%;*/

	/*	--ring: 24 5.7% 82.9%;*/
	/*}*/
}
@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	src: url(./fonts/MaterialSymbolsOutlined.woff2) format('woff');
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	line-height: 1;
	display: flex;
	flex-direction: column;
}

.ProseMirror:focus {
	outline: none;
}

.linter-error {
	background-color: #f87171;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: #dc2626;
}
.linter-grammar {
	background-color: #60a5fa;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: #1d4ed8;
}
.linter-gfl {
	background-color: #a78bfa;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color:#6d28d9;
}
.editor__paragraph .placeholder::before {
	pointer-events: none;
	position: absolute;
	color: #717171; /* Set a light color for placeholder */
	content: attr(data-placeholder);
	font-family: inherit;
	font-size: inherit;
}
.material-symbols-outlined {
	font-family: 'Material Symbols Outlined', 'sans-serif';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

span.s40 {
	font-size: 40px;
	font-variation-settings: 'OPSZ' 40;
}

span.s26 {
	font-size: 26px;
	font-variation-settings: 'OPSZ' 26;
}
span.s36 {
	font-size: 36px;
	font-variation-settings: 'OPSZ' 36;
}
span.s16 {
	font-size: 16px;
	font-variation-settings: 'OPSZ' 26;
}
